*{
    margin: 0;
    padding: 0;
}
body p{
    color: #fff;
    font-size: large;
}
.navbar-brand {
    font-weight: bold;
}

/* herosection */
.mainSection{
    background: url(./image/heroimg.jpg) no-repeat center center/cover;
    position: relative;
    height: 100vh;
}
.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.hero-section{
    padding-top: 10%;
}
.hero-text {
    text-align: center;
    margin-top: 100px;
    position: relative;
    z-index: 1;
    color: white;
}
.hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: red;
}
.trusted-badge {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 15px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    width: fit-content;
    margin: 20px auto;
}
.trusted-badge img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid white;
}





.headings{
    font-size: 3rem;
    font-weight: bold;
    color: red;
    text-align: center;
    padding: 50px 0;
}

.counter-section {
    margin: 30px 0;
}
.counter-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffff;
}
.counter-text {
    font-size: 1rem;
    color: #ccc;
}
.divider {
    width: 50%;
    margin: 20px auto;
    border-top: 1px solid #444;
}

.diet-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SpanBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.diet-container span {
    width: 200px;
    height: 200px;
    background-color: rgb(23, 23, 23);
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: red;
    cursor: pointer;
}
.diet-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    text-align: center;
}
.diet-box h3{
    color: #fff;
    font-size: large;
    padding: 1rem 0;
}
.diet-container span::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(45deg, #ff00ff, #ffcc00, #00ffcc, #ff0000);
    border-radius: 12px;
}
.diet-container span:hover {
    box-shadow: 0px 0px 20px rgba(255, 0, 255, 0.8);
    transition: all 0.3s ease-out;
}

.our-diet{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
    margin-top: 50px;
}


/* Arrow Button start */
#scrollBtn {
    position: fixed;
    top: -90%; /* Initially hide */
    left: 90%;
    transform: translateX(-95%);
    background: #ff5722;
    color: white;
    border: none;
    padding: 5px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 35px;
    transition: top 0.5s ease-in-out, opacity 0.5s;
    opacity: 0;
}
#scrollBtn.show {
    top: 85%; /* Animate to visible position */
    opacity: 1;
}
/* Arrow Button end */

/* footer-section start */
.footer {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    transition: color 0.3s;
}
.footer a:hover {
    color: #ff5722;
}
.email-box {
    background: #222;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.social-icons a {
    display: inline-block;
    margin: 10px;
    font-size: 24px;
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: background 0.3s;
}
.social-icons a:hover {
    background: #ff5722;
}
/* footer-section end */

@media (min-width: 320px) and (max-width: 500px) {
    body p{
        text-align: center;
    }
    .headings{
        font-size: 2rem;
        font-weight: bold;
        color: red;
        text-align: center;
        padding: 30px 0;
    }
    .diet-box{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-diet{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .card-text{
        text-align: left;
    }
    .footer-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .diet-box{
        grid-template-columns: repeat(3, 1fr);
    }
    .diet-container span {
        width: 150px;
        height: 150px;
        background-color: rgb(23, 23, 23);
        position: relative;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: red;
        cursor: pointer;
    }
    .our-diet{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }
    
}